<!-- <div class="flex flex-col items-center justify-start w-full h-screen bg-red-500"> -->
<nav>
  <h1 class="color ">hello world</h1>
</nav>
<section class="home"></section>
<section class="services sectionContainer">
  <h1>Our services</h1>

  <div class="servicescard">
    <div class="leadtitle">
      <div class="text">Frontend development</div>
    </div>

    <div class="icon"> <img src="../assets/1581277.png" alt=""></div>
    <div class="title">Angular 2+</div>
    <div class="paragraph">For our frontend stack we work with Angular to bring robust user experiences to our clients
      .Its fully fledged nature like the famed swiss-knife and its ability to scale are some of the tings that made us
      settle for it

    </div>
  </div>

  <div class="servicescard">
    <div class="leadtitle">
      <div class="text">Backend development</div>
    </div>

    <div class="icon">
      <div class="icon"> <img src="../assets/express-js-icon-20.png" alt=""></div>


    </div>
    <div class="title">Express/Node Js</div>
    <div class="paragraph">Through <strong>Node.js</strong> and the <strong>Express</strong>
      we bring rich fullfiling experiences to our clients for all needs and use cases
    </div>
  </div>

  <div class="servicescard">
    <div class="leadtitle">
      <div class="text">Mobile development</div>
    </div>

    <div class="icon">
      <img src="../assets/Logo_Ionic.png" alt="">

    </div>
    <div class=" title">Ionic/Angular
    </div>
    <div class="paragraph">

      We build mobile apps with the Ionic ui toolset in conjunction with Angular to build mobile
      apps
    </div>
  </div>
</section>
<section class="sectionContainer portfolio ">

  <h1>Our Portfolio</h1>

  <p class="portfolioparagraph">
    here are our sample fullstack projects fully built with Angular and express
  </p>

  <div class="cardprojects">
    <div class="project">
      <img src="../assets/vector-chat-icon.jpg" alt="chat">
      <div class="projecttitle">ng chat</div>
    </div>
    <div class="project">
      <img src="../assets/todo.png" alt="chat">
      <div class="projecttitle">ng todo </div>
    </div>

    <div class="project">
      <img src="../assets/todo.png" alt="chat">
      <div class="projecttitle">ng snapshare </div>
    </div>

  </div>


</section>
<section class="contactus sectionContainer">

  <div class=" form-container">
    <form>
      <h2>Get in touch</h2>

      <div class=" form-group">
        <input type="text" class="" id="exampleInput7" placeholder="Name">
      </div>
      <div class=" form-group">
        <input type="email" id="exampleInput8" placeholder="Email address">
      </div>
      <div class=" form-group">
        <textarea rows="3" placeholder="Message"></textarea>
      </div>
      <button>Send</button>
    </form>
  </div>

</section>
<section class="footer"></section>

<!-- </div> -->