nav {
  @apply w-full p-2 h-[56px] bg-slate-600 fixed top-0
}


.sectionContainer {
  @apply w-full min-h-full bg-gray-300/50 box-border flex flex-col items-center justify-start py-[16px];

  h1 {
    @apply text-white py-2 px-5 bg-blue-700 rounded-full text-lg font-semibold
  }

}

.home {
  @apply mt-[56px]
}

.services {



  .servicescard {
    @apply w-4/5 min-h-[250px] bg-white my-3 flex flex-col justify-start items-center p-[16px] box-border;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.628)
  }

  .leadtitle {
    @apply py-2 text-white font-semibold w-full my-2;
    // box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.328);

    .text {
      @apply px-4 py-2 bg-blue-600 text-white font-semibold w-fit float-left rounded-r-full;

    }
  }



  .icon {
    @apply w-[100px] h-[100px] bg-white overflow-hidden;
    border-radius: 999px;

    // box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.328);

  }

  .title {

    @apply text-blue-600 font-semibold text-lg my-2
  }

  .paragraph {
    @apply text-blue-700 font-light text-lg my-2 italic
  }



}

.portfolio {
  @apply p-4;
  min-height: 100vh;



  .portfolioparagraph {
    @apply text-blue-700 font-medium text-lg rounded-md my-2 p-2 py-3;

  }

  .cardprojects {
    @apply min-w-[250px] rounded-md min-h-[300px] w-full grid grid-rows-4 gap-4;

    .project {
      @apply w-4/5 min-h-[100px] h-fit py-2 bg-white cursor-pointer flex flex-col items-center justify-center rounded-md shadow-md ml-auto mr-auto;
      box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.628);



      &:hover {
        @apply scale-105
      }

      img {
        @apply w-[100px] h-[100px] bg-white rounded-full
      }

      .projecttitle {
        @apply ml-auto mr-auto font-semibold text-2xl my-2 text-[#303e9f] py-1 rounded-full px-5 box-border
      }
    }
  }
}

.contactus {

  min-height: 100vh;

  .form-container {
    @apply block max-w-md p-6 bg-white rounded-lg shadow-lg w-2/3 min-h-[350px];

    .form-group {
      @apply mb-6 mt-4;

      input,
      textarea {
        @apply block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0;

        &:focus {

          @apply bg-white border-blue-600 outline-none
        }
      }



    }

    button {
      @apply w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md transition duration-150 ease-in-out;

      &:hover {
        @apply bg-blue-700 shadow-lg
      }

      &focus {
        @apply bg-blue-700 shadow-lg outline-none ring-0
      }

      &:active {
        @apply bg-blue-800 shadow-lg
      }

    }
  }
}