@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,200&display=swap');

html,
body {
  scroll-behavior: smooth;

}

* {
  font-family: 'Poppins', sans-serif;
}

nav {
  @apply w-full h-[56px] bg-blue-800 flex justify-start items-center text-white font-semibold text-lg fixed top-0 z-50 py-2 pl-2;


  .lineunder {
    border: none;
    border-bottom: 3px solid white;
    font-weight: 500
  }

  .logo {
    @apply flex justify-center items-center gap-2 w-fit my-auto z-40
  }

  img {
    @apply w-[35px] h-[35px] overflow-hidden bg-cover rounded-full;
  }

  .menu {
    @apply w-[40px] h-[40px] ml-auto mr-[8px] cursor-pointer rounded-md p-2;

    &:hover {
      @apply bg-white/20
    }
  }

  .dropdownmenu {
    @apply fixed z-20 top-0 bg-gradient-to-b from-blue-800 to-blue-600 flex flex-col justify-start items-center w-full h-screen text-white left-[100%];



    .menutitle {
      @apply w-full min-h-[60px] bg-blue-800 flex justify-between items-center text-white;

      .logotitle {
        @apply flex justify-center items-center gap-1;

        .ls {
          @apply w-[40px] h-[40px] p-1 text-2xl bg-white text-blue-700 ml-2 text-center rounded-full shadow-black shadow-sm font-bold
        }

        .divider {
          width: 2px;
          height: 30px;
          background-color: white;
        }
      }

      svg {
        width: 30px;
        height: 30px;
        margin-left: auto;
        margin-right: 16px;
      }
    }

    a {
      @apply text-3xl font-normal my-4 w-full text-center min-h-[50px] align-middle
    }
  }

  .opennav {
    animation: openmenu .25s ease-in forwards;

  }

  .closenav {
    animation: closemenu .5s ease-out forwards;

  }

  ul {
    @apply ml-auto justify-start items-center mr-[16px] gap-4 font-light hidden;

    a {
      @apply px-2 py-1 cursor-pointer;

      &:hover {
        @apply border-b-[1pxn] border-b-white
      }
    }
  }

}


.sectionContainer {
  @apply w-full min-h-fit bg-gray-300/50 box-border flex flex-col ml-auto mr-auto items-center justify-start py-[16px];

  h1 {
    @apply text-white py-2 px-5 bg-blue-700 rounded-full text-lg font-semibold
  }

  .sectiontitle {
    @apply text-lg font-semibold text-white px-5 py-2;
    position: relative;
    width: 100%;
    // padding: 4px;
    min-height: 100px;
    // background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;

    .backline {
      @apply h-[4px] shadow-black/40 shadow-sm;
      position: absolute;
      background-color: white;
      width: 70%;
      height: 1px;
      border-radius: 999px;
      z-index: 0;
      margin-top: 4px;
      margin-bottom: 4px;
      top: 60%;
    }

    .backline:nth-child(1) {
      // background-color: white;
      width: 60%;

      top: 68%;
    }

    h2 {
      // line-height: 1.5px;
      // background-color: royalblue;
      width: fit-content;
      padding: inherit;
      position: relative;
      z-index: 1;
      color: white
    }
  }

  .sectiontitle:nth-child(1) {
    // @apply text-blue-700;

    h2 {
      // @apply ;

    }

    .backline {
      @apply h-[4px] shadow-black/40 shadow-sm
    }

  }

}

.sectionContainer::after {
  max-width: 100%;
  background-color: teal
}

.overlay {
  @apply absolute top-0 left-0 w-full h-screen min-h-[300px] z-10 flex flex-col justify-start items-center text-white text-lg font-semibold box-border;
  //bg-gradient-to-b from-blue-700/40 to-black/60


  .backdropblur {
    @apply w-[90%] h-fit flex flex-col text-center p-2 justify-start items-center shadow-white/10 mb-[20px] shadow-md mt-[20px] rounded-md gap-10 backdrop-blur py-4;

    .homelogo {
      @apply w-[100px] h-[100px] bg-gradient-to-b bg-white rounded-full overflow-hidden mt-4;
      // background-image: url('../assets/l-studioafrikatransparent.png')
    }

    p {
      @apply text-lg italic font-light;

      strong {
        @apply not-italic text-lg font-bold
      }
    }

    h3 {
      @apply italic text-base;


    }

    // min-height: 200px
  }

  h2 {
    @apply w-3/4 text-center mt-4
  }



  button {
    @apply bg-gradient-to-r from-blue-700 to-blue-500 py-1 px-4 rounded-full font-medium
  }

}

.home {
  @apply mt-[56px] h-fit pt-[100px] text-white font-bold relative min-h-screen bg-blue-800 flex-col justify-start items-center;
  // background-image: url('../assets/unsplash/arnold-francisca-f77Bh3inUpE-unsplash.jpg');
  background-size: cover;
  overflow: hidden;
  position: relative;

  .box {
    display: none
  }

  .circle {
    @apply absolute w-[150vh] h-[150vh] bg-white rounded-full left-1/4 top-[250px] z-0
  }

  .mobileherowrapper {
    @apply flex flex-col justify-start items-center relative z-30;

    .dynamictext {
      @apply w-full bg-transparent h-[50px] my-4 relative overflow-hidden relative;

      div {
        @apply h-[50px] w-full text-center pt-4 font-bold mt-[55px] top-0 absolute text-2xl;
      }
    }

    button::before {
      content: '';
      background-color: teal;
      width: 200px
    }

    button {
      @apply bg-white text-blue-700 rounded-full font-semibold px-4 py-2 float-right mt-5 text-2xl outline-none border-[10px] border-blue-800;
    }

    .caption {
      @apply italic text-lg font-semibold w-full float-left;
    }

    p {
      @apply text-3xl font-light mb-4;
    }

    h2 {
      @apply text-4xl py-2 px-4 bg-blue-900 text-white rounded-md border-white border-[4px] mb-4 rounded-r-full pr-4
    }

  }



  // p {
  //   @apply text-3xl font-light mb-4;
  // }

  // h2 {
  //   @apply text-4xl py-2 px-4 bg-blue-900 text-white rounded-md border-white border-[4px] mb-4 rounded-r-full pr-4
  // }
}



.aboutus {
  @apply min-h-screen h-fit relative flex flex-col justify-start items-center bg-white mt-0;
  // background-image: url('../assets/unsplash/oskar-yildiz-cOkpTiJMGzA-unsplash.jpg');



  background-size: cover;
  overflow: hidden;
  position: relative;

  .lgscreenaboutus {
    display: none;
  }

  .sectiontitle {
    h2 {
      @apply text-blue-700 font-bold
    }

    .backline {
      @apply bg-blue-700 h-[4px]
    }
  }


  .aboutuscontainer {
    @apply w-4/5 min-h-[200px] p-4 my-2 bg-blue-800 backdrop-blur-md text-white shadow-white rounded-md;

    h2 {
      @apply text-lg font-semibold text-white underline underline-offset-8 text-center my-4
    }



  }

  .btn {
    @apply text-center mt-3 bg-blue-600 py-2 px-4 rounded-full text-white
  }

}

.services {
  @apply relative h-fit bg-blue-800;

  .servicecardholderdesktop {
    @apply hidden
  }

  .svgtop {
    @apply absolute top-0 left-0 h-[300px] w-full
  }

  .svgbottom {
    @apply absolute bottom-0 left-0
  }

  // background-image: url('../assets/unsplash/oskar-yildiz-cOkpTiJMGzA-unsplash.jpg');
  background-size: cover;
  overflow: hidden;

  .servicecardholder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // background-color: #fff;

  }

  .servicescard {
    @apply w-2/3 min-h-[250px] my-3 flex flex-col justify-start items-center p-[16px] box-border;
    border-radius: 10px;
    // box-shadow: 1px 3px 15px 2px rgba(0, 0, 0, 0.28)
  }

  .leadtitle {
    @apply py-2 text-white font-semibold w-full my-2 flex justify-center;
    // box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.328);


    .text {
      @apply px-4 py-2 font-semibold w-fit float-left rounded-full bg-white text-blue-700 mb-3;

    }
  }



  .icon {
    @apply w-[100px] h-[100px] bg-white overflow-hidden;
    border-radius: 999px;

    // box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.328);

  }

  .title {

    @apply text-white font-semibold text-lg my-2
  }

  .paragraph {
    @apply text-blue-700 font-light text-lg my-2 italic
  }



}

.portfolio {
  @apply p-4;
  min-height: 100vh;
  // background-image: url('../assets/unsplash/kari-shea-1SAnrIxw5OY-unsplash.jpg');
  background-size: cover;
  overflow: hidden;

  .sectiontitle {
    h2 {
      @apply text-blue-700
    }

    .backline {
      @apply bg-blue-700
    }
  }

  .portfolioparagraph {
    @apply text-white font-semibold text-lg rounded-md my-2 p-2 py-3 bg-black/30 backdrop-blur w-[70%];

  }

  .cardprojects {
    @apply min-w-[250px] rounded-md min-h-[300px] w-full flex flex-col relative overflow-hidden;



    .project {
      @apply w-[70%] min-h-[100px] h-[175px] py-2 overflow-hidden mb-2 bg-white cursor-pointer gap-3 relative flex flex-col items-center justify-center rounded-md shadow-md ml-auto mr-auto;
      box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.628);

      .hue {

        @apply bg-gradient-to-b from-black/70 via-black/40 to-black;
        position: absolute;
        top: 0;
        left: 0;
        // background-color: black;
        overflow: hidden;
        width: 100%;
        z-index: 1;
        height: 250px;

        &:hover {
          @apply scale-105
        }


      }

      &:hover {
        @apply scale-105 rounded-md
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        overflow: hidden;
        width: 100%;
        z-index: 0;
        height: 250px;
      }

      .projecttitle {
        @apply ml-auto mr-auto font-normal text-2xl my-2 mb-4 mt-auto text-white py-1 rounded-full px-5 box-border relative z-10;
        // text-[#303e9f]
      }

      button {
        @apply bg-blue-700 px-6 box-border rounded-full outline-none border-white border-2 min-w-[60px] relative z-20 text-white
      }
    }


  }
}

.contactus {
  @apply bg-gradient-to-b from-blue-800 to-blue-600;
  min-height: fit-content;
  padding-bottom: 40px;

  .sectiontitle {
    h2 {
      @apply text-white
    }

    .backline {
      @apply bg-white h-[2px]
    }
  }

  .form-container {
    @apply block max-w-md p-6 bg-white rounded-lg shadow-lg w-2/3 min-h-[350px];

    .form-group {
      @apply mb-6 mt-4;

      input,
      textarea {
        @apply block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0;

        &:focus {

          @apply bg-white border-blue-600 outline-none
        }
      }



    }

    button {
      @apply w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md transition duration-150 ease-in-out;

      // &:hover {
      //   @apply bg-blue-700 shadow-lg
      // }

      // &focus {
      //   @apply bg-blue-700 shadow-lg outline-none ring-0
      // }

      // &:active {
      //   @apply bg-blue-800 shadow-lg
      // }

    }

    .enable {
      @apply bg-blue-600 cursor-pointer
    }

    .disable {
      @apply bg-pink-700 cursor-not-allowed
    }
  }

  .footericons {
    @apply w-full min-h-[100px] flex justify-center items-center gap-4 mt-4;

    svg {
      @apply w-[40px] h-[40px];
      fill: white;
    }
  }

  .footercontacts {
    @apply w-2/3 flex justify-start items-center my-1 p-1 gap-2 text-white
  }

  .copyright {
    @apply mt-[100px] flex justify-center
  }
}


.in {
  animation: titlein 1.5s ease-in forwards;
}

.out {
  animation: titleout 1.5s ease-out forwards;

}

@keyframes openmenu {
  0% {
    left: 100%;
    opacity: 0;
  }

  100% {
    left: 0px;
    opacity: 1;
  }

}

@keyframes closemenu {
  0% {
    left: 0px;
    opacity: 1;
  }

  100% {
    left: calc(100% + 10px);
    opacity: 0;

  }

}

@keyframes titlein {
  0% {
    margin-top: 55px;
  }

  70% {
    margin-top: 0px;
  }

  100% {
    margin-top: 0px;

  }


}

@keyframes titleout {

  0% {
    margin-top: 0px;
  }

  70% {
    margin-top: -55px;
  }

  100% {
    margin-top: -55px;

  }

}

app-viewproject {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.371);
  @apply flex flex-col justify-center items-center p-2;
}

@media screen and (min-width: 425px) {

  .portfolio {
    .sectiontitle {
      margin-top: 24px
    }

    .cardprojects {
      @apply flex-row justify-center flex-wrap gap-3;

      .project {
        @apply max-w-[250px]
      }
    }
  }
}

@media screen and (min-width: 648px) {

  .portfolio {
    .cardprojects {
      @apply grid-cols-3;

      .project {
        @apply max-w-[200px]
      }
    }
  }

  .sectionContainer {


    .aboutuscontainer {
      @apply w-[90%] grid grid-cols-2 grid-rows-[50px_1fr] max-w-[650px];

      img {
        @apply row-span-2 col-span-1 w-fit h-fit justify-center items-center max-w-[240px] min-h-[200px] mr-auto ml-auto mt-auto mb-auto
      }
    }

    .chooseus {
      @apply pb-4;

      img {
        @apply max-w-[210px]
      }
    }

    .ourspecialties {
      img {
        @apply w-fit h-fit justify-center items-center max-w-[240px] min-h-[200px];
        grid-column: 2/3;
        grid-row: 1/2;
      }

    }
  }
}

@media screen and (min-width: 768px) {

  nav {

    .menu {
      display: none;
    }

    ul {
      display: flex
    }
  }

  .sectionContainer {
    .sectiontitle {
      @apply w-full flex justify-center items-center mt-[16px];

      h2 {
        @apply text-center
      }

      .backline {
        @apply w-[30%]
      }

      .backline:nth-child(1) {
        @apply w-[25%]
      }
    }

    .aboutuscontainer {
      @apply w-[90%] max-w-[750px] min-h-[250px];

      img {
        @apply row-span-2 col-span-1 w-fit h-fit
      }
    }

    .ourspecialties {
      img {
        @apply w-fit h-fit justify-center items-center max-w-[240px] min-h-[200px];
        grid-column: 2/3;
        grid-row: 1/2;
      }

    }
  }

  .services {
    @apply flex-row justify-center flex-wrap gap-2;

    .servicecardholderdesktop {
      @apply flex flex-col justify-start items-center max-w-[75%];
      width: 90%;
      height: fit-content;

      .servicecarddesktop {
        min-height: 200px;
        // background-color: orange;
        margin-top: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        img {
          width: 200px;
          height: 200px;
          overflow: hidden;
        }

        .description {
          max-width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 2rem;
          padding: 8px;

        }
      }
    }

    .servicecardholder {
      width: 100%;
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 1100px;
      // gap: 16px // background-color: #fff;

      // @apply grid grid-cols-2 grid-rows-2;
      // place-items: center;

    }

    .servicescard {
      @apply max-w-[300px];

      .icon {
        @apply w-[150px] h-[150px] bg-transparent
      }
    }

    .leadtitle .text {
      min-width: 100px;
      text-align: center;

      span {
        display: none
      }
    }
  }

  .portfolio {
    @apply min-h-fit;

    .cardprojects {
      gap: 20px;

      .project {
        @apply mx-0
      }
    }
  }

  .contactus {

    .form-container {

      @apply max-w-[300px]
    }

    .footercontacts {
      @apply justify-center
    }

    .copyright {
      @apply mt-[50px]
    }
  }

  // .aboutus {
  //   @apply h-fit;

  //   .aboutuscontainer {
  //     @apply max-w-[500px]
  //   }
  // }
}

@media screen and (min-width: 900px) {
  .portfolio {
    min-height: fit-content;

    .cardprojects {
      // display: none;

      .project {
        @apply min-w-[250px] min-h-[225px]
      }
    }
  }



  .home .circle {
    // background-color: blue;
    // display: none;
    border-radius: 500px 0 0 0;
    bottom: -25%;
    left: 30%;
    // right: -50%;
    width: 100vh;
    height: 100vh;
    // top: 100px;
  }

  .cardprojects {
    // background-color: purple;
    max-width: 1000px;
    min-height: 500px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .services {
    min-height: 550px !important;

    .servicecardholder {
      // background-color: pink;
      display: none;
    }

    .servicescard {
      @apply max-w-[275px]
    }
  }

  .portfolio {
    min-height: 500px !important;

  }

  .aboutus {
    display: flex;
    // grid-template-columns: 1fr minmax(400px, 550px) minmax(400px, 550px) 1fr;
    // grid-template-rows: 100px 1fr 1fr;
    min-height: 700px;
    flex-direction: row;
    flex-wrap: wrap;
    // max-width: 1100px;
    background-size: cover;
    // background-image: url('../assets/unsplash/mean\ 2.png');
    align-items: center;
    justify-content: center;
    gap: 16px;
    // align-content: center;

    .aboutuscontainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: fit-content;
      max-width: 400px;
      min-height: 540px;

      // background-color: black;
      // opacity: .8;
      @apply backdrop-blur-sm bg-gradient-to-br from-blue-800 to-blue-600;

      // background-color: teal;
      img {
        max-width: 170px;
        max-height: 170px;
        margin: 0;
      }



    }

    .ourspecialties {

      img {
        max-height: 170px;
      }
    }

    // .lgscreenaboutus {
    //   position: absolute;
    //   display: flex;
    //   width: 100%;
    //   min-height: 700px;
    //   // padding: 4px;
    //   // background-color: teal;
    // }

    // .lgscreenaboutus::after {
    //   content: '';
    //   width: 100%;
    //   min-height: 700px;
    //   height: inherit;
    //   position: absolute;
    //   top: -18px;
    //   bottom: -30px;
    //   background: black;
    //   opacity: .1;
    // }

    .sectiontitle {
      position: relative;
      height: 100px;
      padding: 0;
      margin-top: 24px;

      h2 {
        // color: white;
        font-size: 28px;

      }

      .backline {
        // background-color: white
      }
    }

    // .sectiontitle::after {
    //   content: '';
    //   width: 100%;
    //   position: absolute;
    //   top: -40px;
    //   background-color: black;
    //   opacity: .1;
    //   height: 122px
    // }

    // .whoarewe {
    //   @apply bg-black/80 backdrop-blur-md;

    //   grid-column: 2/3;
    //   grid-row: 2/3;

    // }

    // .ourspecialties {
    //   @apply bg-black/80 backdrop-blur-md;



    //   grid-column: 2/3;
    //   grid-row: 3/4;
    // }

    // .chooseus {
    //   @apply bg-black/80 backdrop-blur-md;



    //   grid-column: 3/4;
    //   grid-row: 2/4;
    //   min-height: 485px;
    // }
  }

  .contactus {
    @apply grid grid-cols-2 grid-flow-row pb-0;

    .sectiontitle {
      @apply col-span-2
    }

    .form-container {
      @apply row-span-4 ml-auto mr-20
    }

    .footericons {
      min-height: 0;
      margin-top: 0;
      justify-content: flex-start;
      cursor: pointer;
    }

    .footercontacts {
      justify-content: flex-start;
    }

    .copyright {
      @apply col-span-2 w-full flex justify-center mb-2
    }
  }
}

@media screen and (min-width: 1024px) {

  .home {
    // min-height: fit-content;

    .circle {
      display: none;
      background-color: red;
    }

    .mobileherowrapper {
      margin-right: auto;
      margin-left: 50px;
      margin-top: 4rem;
      min-width: 500px;
      min-height: 200px;
      // background-color: pink;

      .caption {
        font-size: 2.125rem;
        line-height: 2.75rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

        br {
          display: none;
        }
      }

      h2 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 3.5rem;
        line-height: 2.5rem;
      }

      .dynamictext {
        div {
          font-size: 2.5rem;
        }
      }

      button {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }

    .box {
      // display: none;
      width: 50%;
      min-height: 100%;
      // clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
      position: absolute;
      margin-top: 4rem;
      z-index: 20;
      top: 0;
      background-color: transparent;
      // background-color: red;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      // margin-top: 56PX;
      right: 0;

      img {
        min-width: 850px;
        min-height: 850px;
        // border-radius: 999px;
        margin-top: -130px;
        // overflow: hidden;

      }

      // .technologyused {
      //   width: 80%;
      //   min-height: 100px;
      //   display: none;
      //   opacity: 0;
      //   // background-color: green;
      //   // margin-top: 32px;
      //   margin-bottom: 16px;
      //   display: flex;
      //   justify-content: center;
      //   gap: 8px;
      //   align-items: center;
      //   // background-image: url('../assets/unsplash/mean\ 2.png');


      //   .techicons {
      //     width: 150px;
      //     height: 150px;
      //     border-radius: 100%;
      //     // background-color: red;
      //     overflow: hidden;
      //     justify-content: center;
      //     align-items: center;
      //     display: flex;

      //     img {
      //       border-radius: inherit;
      //     }

      //   }
      // }

    }



  }

  .services {
    .servicecardholderdesktop {
      @apply flex flex-col justify-start items-center max-w-[1000px];
      width: 90%;
      height: fit-content;
    }
  }
}
