<!-- <div class="flex flex-col items-center justify-start w-full h-screen bg-red-500"> -->
<!-- <nav>
  <div class="logo">
    <img src="../assets/l-studio afrika Logo.png" alt="">
    <div>LSAfrika</div>

  </div>
</nav> -->
<!-- <section class="home sectionContainer">
  <div class="overlay">

    <div class="backdropblur">

      <div class="homelogo">
        <img src="../assets/l-studio afrika Logo.png" alt="">
      </div>



      <p>we at <strong>LSAfrika</strong> strive to be your partner in bringing your dreams and vision to fruition with
        well tailored solutions
        forevry need walk step by step with you</p>
      <h3>
        <strong>LSAfrika</strong>
        your caring and passionate partner
      </h3>
      <button>Talk to us</button>
    </div>
  </div>

</section> -->
<!-- <section class="aboutus sectionContainer">

  <div class="sectiontitle">
    <div class="backline"></div>
    <div class="backline"></div>
    <h2>ABOUT US</h2>
  </div>
  <div class="aboutuscontainer">

    <h2>who are we?</h2>
    <p>we are a small but well equipped software firm found in Nairobi Kenya passionate about software development to
      improve and better the lives of fellow human beingsand while at it make a living fromit </p>

  </div>



  <div class="aboutuscontainer">
    <h2>what are we specialties at you ask?</h2>
    <p>Our profficiencyis in web development both frontend and backend and mobile development
      using tools at our disposal to bring rich and well meaning user experience</p>
  </div>
  <div class="aboutuscontainer">

    <h2>why choose us?</h2>

    <ul>
      <li> <strong>.</strong> we strive to walk with you from start to end from conception to actualization </li><br>
      <li> <strong>.</strong> we bring our experience from a technological stand point and giving advice objectively
      </li><br>
      <li> <strong>.</strong> we offer competitive pricingmodel tailored on app type app size duration of time etc
      </li>
      <br>

    </ul>
  </div>


  <button class="btn">Get a quote</button>

</section> -->


<!-- <section class="services sectionContainer">

  <div class="sectiontitle">
    <div class="backline"></div>
    <div class="backline"></div>
    <h2>SERVICES OFFERED</h2>
  </div>

  <div class="servicescard">
    <div class="leadtitle">
      <div class="text">Frontend development</div>
    </div>

    <div class="icon"> <img src="../assets/1581277.png" alt=""></div>
    <div class="title">Angular 2+</div>

  </div>

  <div class="servicescard">
    <div class="leadtitle">
      <div class="text">Backend development</div>
    </div>

    <div class="icon">
      <div class="icon"> <img src="../assets/express-js-icon-20.png" alt=""></div>


    </div>
    <div class="title">Express/Node Js</div>

  </div>

  <div class="servicescard">
    <div class="leadtitle">
      <div class="text">Mobile development</div>
    </div>

    <div class="icon">
      <img src="../assets/Logo_Ionic.png" alt="">

    </div>
    <div class=" title">Ionic/Angular
    </div>

  </div>
</section> -->
<section class="sectionContainer portfolio ">

  <h1>Our Portfolio</h1>

  <p class="portfolioparagraph">
    here are our sample fullstack projects fully built with Angular and express
  </p>

  <div class="cardprojects">
    <div class="project">
      <img src="../assets/unsplash/daniel-korpai-r73OFSry5AI-unsplash.jpg" alt="chat">
      <div class="projecttitle">ng chat</div>
    </div>
    <!-- <div class="project">
      <img src="../assets/todo.png" alt="chat">
      <div class="projecttitle">ng todo </div>
    </div>

    <div class="project">
      <img src="../assets/todo.png" alt="chat">
      <div class="projecttitle">ng snapshare </div>
    </div> -->

  </div>


</section>
<section class="contactus sectionContainer">

  <div class=" form-container">
    <form>
      <h2>Get in touch</h2>

      <div class=" form-group">
        <input type="text" class="" id="exampleInput7" placeholder="Name">
      </div>
      <div class=" form-group">
        <input type="email" id="exampleInput8" placeholder="Email address">
      </div>
      <div class=" form-group">
        <textarea rows="3" placeholder="Message"></textarea>
      </div>
      <button>Send</button>
    </form>
  </div>

</section>
<section class="footer"></section>

<!-- </div> -->
