@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,200&display=swap');

html,
body {
  scroll-behavior: smooth;

}

* {
  font-family: 'Poppins', sans-serif;
}

nav {
  @apply w-full h-[56px] bg-gradient-to-r flex justify-start items-center from-blue-800 to-blue-600 text-white font-semibold text-lg fixed top-0 z-20 py-2 pl-2;

  .logo {
    @apply flex justify-center items-center gap-2 w-fit my-auto
  }

  img {
    @apply w-[35px] h-[35px] overflow-hidden bg-cover rounded-full;
  }

  .menu {
    @apply w-[40px] h-[40px] ml-auto mr-[8px] cursor-pointer rounded-md p-2;

    &:hover {
      @apply bg-white/20
    }
  }

  .dropdownmenu {
    @apply fixed z-20 top-0 bg-white flex flex-col justify-start items-center w-full h-screen text-blue-600;



    .menutitle {
      @apply w-full min-h-[60px] bg-blue-600 flex justify-between items-center text-white;

      .logotitle {
        @apply flex justify-center items-center gap-1;

        .ls {
          @apply w-[40px] h-[40px] p-1 text-2xl bg-white text-blue-700 ml-2 text-center rounded-full shadow-black shadow-sm font-bold
        }

        .divider {
          width: 2px;
          height: 30px;
          background-color: white;
        }
      }

      svg {
        width: 30px;
        height: 30px
      }
    }

    a {
      @apply text-3xl font-normal my-4 bg-red-400 w-full text-center min-h-[50px] align-middle
    }
  }

  .opennav {
    animation: openmenu .5s ease-in forwards;

  }

  .closenav {
    animation: closemenu .75s ease-out forwards;

  }

  ul {
    @apply ml-auto justify-start items-center mr-[16px] gap-4 font-medium hidden;

    li {
      @apply px-2 py-1;

      &:hover {
        @apply bg-white text-blue-700 rounded-md cursor-pointer
      }
    }
  }

}


.sectionContainer {
  @apply w-full min-h-full bg-gray-300/50 box-border flex flex-col items-center justify-start py-[16px];

  h1 {
    @apply text-white py-2 px-5 bg-blue-700 rounded-full text-lg font-semibold
  }

  .sectiontitle {
    @apply text-lg font-semibold text-white px-5 py-2;
    position: relative;
    width: 100%;
    // padding: 4px;
    min-height: 100px;
    // background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;

    .backline {
      @apply h-[4px] shadow-black/40 shadow-sm;
      position: absolute;
      background-color: white;
      width: 70%;
      height: 1px;
      border-radius: 999px;
      z-index: 0;
      margin-top: 4px;
      margin-bottom: 4px;
      top: 60%;
    }

    .backline:nth-child(1) {
      // background-color: white;
      width: 60%;

      top: 68%;
    }

    h2 {
      // line-height: 1.5px;
      // background-color: royalblue;
      width: fit-content;
      padding: inherit;
      position: relative;
      z-index: 1;
      color: white
    }
  }

  .sectiontitle:nth-child(1) {
    // @apply text-blue-700;

    h2 {
      // @apply ;

    }

    .backline {
      @apply h-[4px] shadow-black/40 shadow-sm
    }

  }

}

.overlay {
  @apply absolute top-0 left-0 w-full h-screen min-h-[300px] z-10 flex flex-col justify-start items-center text-white text-lg font-semibold box-border;
  //bg-gradient-to-b from-blue-700/40 to-black/60


  .backdropblur {
    @apply w-[90%] h-fit flex flex-col text-center p-2 justify-start items-center shadow-white/10 mb-[20px] shadow-md mt-[20px] rounded-md gap-10 backdrop-blur py-4;

    .homelogo {
      @apply w-[100px] h-[100px] bg-gradient-to-b bg-white rounded-full overflow-hidden mt-4;
      // background-image: url('../assets/l-studioafrikatransparent.png')
    }

    p {
      @apply text-lg italic font-light;

      strong {
        @apply not-italic text-lg font-bold
      }
    }

    h3 {
      @apply italic text-base;


    }

    // min-height: 200px
  }

  h2 {
    @apply w-3/4 text-center mt-4
  }



  button {
    @apply bg-gradient-to-r from-blue-700 to-blue-500 py-1 px-4 rounded-full font-medium
  }

}

.home {
  @apply mt-[56px] h-fit relative min-h-screen;
  background-image: url('../assets/unsplash/arnold-francisca-f77Bh3inUpE-unsplash.jpg');
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.aboutus {
  @apply min-h-screen h-fit relative flex flex-col justify-start items-center;
  background-image: url('../assets/unsplash/oskar-yildiz-cOkpTiJMGzA-unsplash.jpg');

  background-size: cover;
  overflow: hidden;
  position: relative;

  .aboutuscontainer {
    @apply w-4/5 min-h-[200px] p-4 my-2 bg-black/80 text-white shadow-white rounded-md backdrop-blur-sm;

    h2 {
      @apply text-lg font-semibold text-white underline underline-offset-8 text-center my-4
    }



  }

  .btn {
    @apply text-center mt-3 bg-blue-600 py-2 px-4 rounded-full text-white
  }

}

.services {
  @apply relative h-fit bg-blue-700;

  .svgtop {
    @apply absolute top-0 left-0 h-[300px] w-full
  }

  .svgbottom {
    @apply absolute bottom-0 left-0
  }

  // background-image: url('../assets/unsplash/oskar-yildiz-cOkpTiJMGzA-unsplash.jpg');
  background-size: cover;
  overflow: hidden;

  .servicescard {
    @apply w-4/5 min-h-[250px] bg-black/80 backdrop-blur-sm shadow-black shadow-sm my-3 flex flex-col justify-start items-center p-[16px] box-border;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.628)
  }

  .leadtitle {
    @apply py-2 text-white font-semibold w-full my-2;
    // box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.328);

    .text {
      @apply px-4 py-2 bg-blue-600 text-white font-semibold w-fit float-left rounded-r-full;

    }
  }



  .icon {
    @apply w-[100px] h-[100px] bg-white overflow-hidden;
    border-radius: 999px;

    // box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.328);

  }

  .title {

    @apply text-white font-semibold text-lg my-2
  }

  .paragraph {
    @apply text-blue-700 font-light text-lg my-2 italic
  }



}

.portfolio {
  @apply p-4;
  min-height: 100vh;
  // background-image: url('../assets/unsplash/kari-shea-1SAnrIxw5OY-unsplash.jpg');
  background-size: cover;
  overflow: hidden;

  .sectiontitle {
    h2 {
      @apply text-blue-700
    }

    .backline {
      @apply bg-blue-700
    }
  }

  .portfolioparagraph {
    @apply text-white font-semibold text-lg rounded-md my-2 p-2 py-3 bg-black/30 backdrop-blur w-[70%];

  }

  .cardprojects {
    @apply min-w-[250px] rounded-md min-h-[300px] w-full grid grid-rows-4 gap-4 relative overflow-hidden;



    .project {
      @apply w-[200px] min-h-[100px] h-[200px] py-2 overflow-hidden bg-white cursor-pointer relative flex flex-col items-center justify-center rounded-md shadow-md ml-auto mr-auto;
      box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.628);

      .hue {

        @apply bg-gradient-to-b from-transparent via-black/80 to-black;
        position: absolute;
        top: 0;
        left: 0;
        // background-color: black;
        overflow: hidden;
        width: 100%;
        z-index: 1;
        height: 250px;

        &:hover {
          @apply scale-105
        }


      }

      &:hover {
        @apply scale-105 rounded-md
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        overflow: hidden;
        width: 100%;
        z-index: 0;
        height: 250px;
      }

      .projecttitle {
        @apply ml-auto mr-auto font-semibold text-2xl my-2 mb-4 mt-auto text-white py-1 rounded-full px-5 box-border z-10;
        // text-[#303e9f]
      }
    }

    .project:nth-child(1) {
      @apply mt-4
    }
  }
}

.contactus {
  @apply bg-gradient-to-b from-blue-700 to-blue-600;
  min-height: fit-content;
  padding-bottom: 40px;

  .sectiontitle {
    h2 {
      @apply text-white
    }

    .backline {
      @apply bg-white h-[2px]
    }
  }

  .form-container {
    @apply block max-w-md p-6 bg-white rounded-lg shadow-lg w-2/3 min-h-[350px];

    .form-group {
      @apply mb-6 mt-4;

      input,
      textarea {
        @apply block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0;

        &:focus {

          @apply bg-white border-blue-600 outline-none
        }
      }



    }

    button {
      @apply w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md transition duration-150 ease-in-out;

      &:hover {
        @apply bg-blue-700 shadow-lg
      }

      &focus {
        @apply bg-blue-700 shadow-lg outline-none ring-0
      }

      &:active {
        @apply bg-blue-800 shadow-lg
      }

    }
  }
}


@keyframes openmenu {
  0% {
    left: 100%;
  }

  100% {
    left: 0px;
  }

}

@keyframes closemenu {
  0% {
    left: 0px;

  }

  100% {
    left: calc(100% + 10px);

  }

}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 648px) {}

@media screen and (min-width: 768px) {

  .sectionContainer {
    .sectiontitle {
      @apply w-full flex justify-center items-center;

      h2 {
        @apply text-center
      }

      .backline {
        @apply w-[30%]
      }

      .backline:nth-child(1) {
        @apply w-[25%]
      }
    }
  }

  .services {
    @apply flex-row justify-center flex-wrap gap-2;

    .servicescard {
      @apply max-w-[220px]
    }
  }

  .aboutus {
    @apply h-fit;

    .aboutuscontainer {
      @apply max-w-[500px]
    }
  }
}

@media screen and (min-width: 900px) {}
